In [1]:
import lxml
import time
import datetime as dt
import mlb
import requests
import pandas as pd
from mlb.utils import keys
from IPython.display import display

In [4]:
p = mlb.Person(117244)

In [5]:
display(p.roster_entries)
display(p.teams)

,jersey,position,status,team,tm_mlbam,from_date,to_date,status_date,forty_man,active
0,14,1B,Free Agent,Chicago White Sox,145,2013-12-04,2014-10-30,2014-10-30,False,False
1,-,1B,Traded,Cincinnati Reds,113,1998-07-04,1998-11-11,1998-07-04,False,False
2,-,1B,Traded,Los Angeles Dodgers,119,1994-06-30,1998-07-04,1994-06-30,False,False

   tm_mlbam         tm_full_name  tm_location    tm_club        tm_slug
0       145    Chicago White Sox      Chicago  White Sox  white-sox-145
1       113      Cincinnati Reds   Cincinnati       Reds       reds-113
2       119  Los Angeles Dodgers  Los Angeles    Dodgers    dodgers-119

In [6]:
t = p.past_teams_list[0]

4

In [7]:
p.stats.hitting.advanced.career

,game_type,tm_mlbam,tm_name,lg_mlbam,lg_name,PA,TB,LOB,BIP,BABIP,...,Whiffs,PO,LO,GO,FH,PH,LH,GH,sB,sF
0,R,145,Chicago White Sox,103,American League,4827,2241,1723,3420,.324,...,2364,207,308,1154,225,4,609,424,0,45
1,P,145,Chicago White Sox,103,American League,32,13,20,24,.348,...,14,0,1,11,1,0,4,4,0,0

In [2]:
f = mlb.franchise(145)

In [3]:
t = mlb.team(145,2021)

In [17]:
person_data = requests.get("https://statsapi.mlb.com/api/v1/people/547989").json()['people'][0]
abreu = mlb.person(person_data)

In [1]:

class person:
    def __init__(self,name:str,**kwargs):
        self.__dict__.update({'name':name})
        self.__dict__.update(kwargs)

        
    def __getitem__(self,_attr):
        return getattr(self,_attr)
    
    def __setattr__(self,_attr,_val):
        pass
        
    # def __init_subclass__(cls):
    #     pass
        
class student(person):
    def __init__(self,name:str,**kwargs):
        _kwargs = locals()
        _kwargs.pop('self')
        super().__init__(name,**kwargs)
    
    # def __setattr__(self,_attr,_val):
    #     setattr(_attr,_val)
        
p = person(name='joe',age=25)
s = student(name='joe',age=25)
print(type(p))
print(p.name)
print(p.age)
print('')
print(type(s))
print(s.name)
print(s.age)

<class '__main__.person'>
joe
25

<class '__main__.student'>
joe
25

['name',
 'age',
 '__module__',
 '__init__',
 '__getitem__',
 '__setattr__',
 '__dict__',
 '__weakref__',
 '__doc__',
 '__new__',
 '__repr__',
 '__hash__',
 '__str__',
 '__getattribute__',
 '__delattr__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__reduce_ex__',
 '__reduce__',
 '__subclasshook__',
 '__init_subclass__',
 '__format__',
 '__sizeof__',
 '__dir__',
 '__class__']

In [18]:
p.name

AttributeError: 'student' object has no attribute 'name'

In [42]:
p.name = 'joey'
p['name']

'joe'

AttributeError: type object 'dict' has no attribute '__get__'

In [6]:
s = student(name='joe')

In [8]:
s.weight = 140

In [9]:
s.weight

140

True

__main__.student

In [ ]:
start = time.time()
tm = mlb.team_data(145,2021,_logtime=False)
pd.DataFrame().iloc

In [3]:
abreu = mlb.player(547989)

In [5]:
class person:
    def __init__(self,name:str):
        self.__name = name
        

    @property    
    def name(self):
        return self.__name

p = person('joe')
print(p.name)

joe

In [6]:
p.name = 'joey'

AttributeError: can't set attribute 'name'

In [20]:
p.name

'joe'

In [28]:
series = pd.Series(data={'start':'2021-09-1','end':'2022-3-04'})



series['start'] = pd.to_datetime(series['start'],format=r"%Y-%m-%d")

# series

In [29]:
series

start    2021-09-01 00:00:00
end                2022-3-04
dtype: object