In [3]:
import mlb
import requests
import pandas as pd
from types import SimpleNamespace as ns

In [16]:
def playoffs(mlbam):
    gt_types = {'F':'wild_card','D':'division','L':'league_series','W':'world_series','P':'playoffs'}
    sort_orders = {'F':1,'D':2,'L':3,'W':4}
    with requests.session() as sesh:
        data = []
        for gt in ('F','D','L','W'):
            url = f"https://statsapi.mlb.com/api/v1/teams/{mlbam}/stats?stats=yearByYearPlayoffs&group=pitching&gameType={gt}&fields=stats,splits,stat,wins,losses,season"
            resp = sesh.get(url)
            game_type = gt_types[gt]
            years = resp.json()["stats"][0]["splits"]
            for y in years:
                season = y.get("season","")
                wins = y.get("stat",{}).get("wins",0)
                losses = y.get("stat",{}).get("losses",0)
                if wins > losses:
                    title_winner = True
                else:
                    title_winner = False
                sort_order = sort_orders[gt]
                
                data.append([
                    season,gt,game_type,wins,losses,title_winner,sort_order
                ])
                

                
        df = pd.DataFrame(data=data,columns=['season','gt','game_type','wins','losses','title_winner','sort_order']).sort_values(by=["season","sort_order"],ascending=[True,True]).reset_index(drop=True)
        return df

  season gt      game_type  wins  losses  title_winner  sort_order
7   2005  D       division     3       0          True           2
8   2005  L  league_series     4       1          True           3
9   2005  W   world_series     4       0          True           4