In [1]:
import lxml
import time
import datetime as dt
import mlb
import requests
import requests_html
import pandas as pd
from mlb.utils import keys

In [2]:
f = mlb.franchise(145)

In [3]:
t = mlb.team(145,2021)

mlb.classes._league_data

In [6]:
f.retired

   season        date number   mlbam             name pos
0    2017  2017-06-24     56  279824     Mark Buehrle   P
1    2015  2015-05-23     14  117244     Paul Konerko  1B
2    2010  2010-08-29     35  123245     Frank Thomas  1B
3    1997  1997-09-14     72  114182     Carlton Fisk   C
4    1997  1997-04-15     42  121314  Jackie Robinson  2B
5    1989  1989-08-20      3  110456    Harold Baines  OF
6    1987  1987-01-01     19  120562     Billy Pierce   P
7    1987  1987-01-01     16  118055        Ted Lyons   P
8    1984  1984-08-14     11  110290    Luis Aparicio  SS
9    1983  1983-01-01      9  119176    Minnie Minoso  OF
10   1976  1976-01-01      2  114361       Nellie Fox  2B
11   1975  1975-01-01      4  110297     Luke Appling  SS

In [17]:
person_data = requests.get("https://statsapi.mlb.com/api/v1/people/547989").json()['people'][0]
abreu = mlb.person(person_data)

In [3]:
f.division.name

'Guaranteed Rate Field'

In [38]:
class person:
    def __init__(self,**kwargs):
        self.__dict__.update(kwargs)
        
    def __getitem__(self,_attr):
        return getattr(self,_attr)
    
    def __setattr__(self,_attr,_val):
        pass
    
    def _attr_getter(self):
        return self._name
    
    def _attr_setter(self,_key):
        return self.__dict__[_key]
        
    # def __init_subclass__(cls):
    #     pass
        

class student(person):
    def __init__(self,**kwargs):
        super().__init__(**kwargs)
        


    # def __setitem__(self,_attr,_val):
    #     setattr(
    #         self,
    #         _attr,
    #         property(
    #             fget=lambda x : self.__dict__[_attr])
    #         )

    # def __delattr__(self, _attr: str):
    #     delattr(self,_attr)

In [39]:
p = person(name='joe')

In [42]:
p.name = 'joey'
p['name']

'joe'

AttributeError: type object 'dict' has no attribute '__get__'

In [6]:
s = student(name='joe')

In [8]:
s.weight = 140

In [9]:
s.weight

140

True

__main__.student

In [ ]:
start = time.time()
tm = mlb.team_data(145,2021,_logtime=False)
pd.DataFrame().iloc

In [3]:
abreu = mlb.player(547989)

In [5]:
class person:
    def __init__(self,name:str):
        self.__name = name
        

    @property    
    def name(self):
        return self.__name

p = person('joe')
print(p.name)

joe

In [6]:
p.name = 'joey'

AttributeError: can't set attribute 'name'

In [20]:
p.name

'joe'

In [28]:
series = pd.Series(data={'start':'2021-09-1','end':'2022-3-04'})



series['start'] = pd.to_datetime(series['start'],format=r"%Y-%m-%d")

# series

In [29]:
series

start    2021-09-01 00:00:00
end                2022-3-04
dtype: object